<template>
    <div id="workLogPicker" class="mb-3">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-2">
                    <div class="card-body">
                        <b-form @submit.prevent="submitForm">
                            <div class="form-row">
                                <b-form-group
                                    class="col-md-6"
                                    id="started-at-input"
                                    :label="startedAtLabel"
                                    label-for="sortedAt"
                                >
                                    <date-picker v-model="started_at" :config="startedAtOptions" id="sortedAt"></date-picker>
                                </b-form-group>

                                <b-form-group
                                    class="col-md-6"
                                    id="finished-at-input"
                                    :label="finishedAtLabel"
                                    label-for="finishedAt"
                                >
                                    <date-picker v-model="finished_at" :config="finishedAtOptions" id="finishedAt"></date-picker>
                                </b-form-group>
                            </div>
                            <div class="form-row">
                                <b-form-group
                                    class="col-md-6"
                                    id="type-input"
                                    label="Summary type"
                                    label-for="typeInput"
                                >
                                    <b-form-select
                                        :value="null"
                                        v-model="type"
                                        :options="{ 'day': 'Daily', 'month': 'Monthly', 'year': 'Yearly' }"
                                        id="typeInput"
                                    >
                                    </b-form-select>
                                </b-form-group>
                                <b-form-group
                                    class="col-md-6"
                                    id="per-page-input"
                                    label="Per page"
                                    label-for="perPage"
                                >
                                    <b-form-select
                                        :value="null"
                                        v-model="perPage"
                                        :options="{ '5': 5, '10': 10, '25': 25, '50': 50 }"
                                        id="perPage"
                                    >
                                    </b-form-select>
                                </b-form-group>
                            </div>

                            <input v-if="!isLoading" type="submit" class="btn btn-primary float-right col-xs-12 col-sm-auto" value="Apply" />
                            <button v-else class="btn btn-primary float-right col-xs-12 col-sm-auto">
                                <i class="fas fa-spinner fa-spin"></i>
                            </button>
                        </b-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                started_at: moment.utc(),
                finished_at: moment.utc(),
                type: 'day',
                perPage: 10
            }
        },
        computed: {
            startedAtOptions: function () {
                return {
                    format: 'DD-MM-YYYY',
                    useCurrent: false,
                    maxDate: this.finished_at === null ? false : this.finished_at,
                    showTodayButton: true
                }
            },
            finishedAtOptions: function () {
                return {
                    format: 'DD-MM-YYYY',
                    useCurrent: false,
                    minDate: this.started_at === null ? false : this.started_at,
                    showTodayButton: true
                }
            },
            startedAtLabel: function () {
                return `Start ${this.type}`;
            },
            finishedAtLabel: function () {
                return `Finish ${this.type}`;
            }
        },
        methods: {
            submitForm: function () {
                let started_at = this.started_at;
                let finished_at = this.finished_at;

                if (moment.isMoment(this.started_at)) {
                    started_at = this.started_at.format('DD-MM-YYYY')
                }
                if (moment.isMoment(this.finished_at)) {
                    finished_at = this.finished_at.format('DD-MM-YYYY')
                }

                this.$emit('formSubmitted', {
                    started_at: started_at,
                    finished_at: finished_at,
                    type: this.type,
                    perPage: this.perPage
                });
            }
        },
        watch: {
        },
        props: [
            'isLoading'
        ],
        created() {
            this.submitForm();
        },
        components: {
        }
    }
</script>

<style>
</style>
