<template>
    <div id="workLogList">
        <div class="card mb-2">
            <div class="card-header font-weight-bold">
                Work logs
            </div>
            <div class="card-body">
                <b-table
                    id="workLogTable"
                    :items="workLogs"
                    :fields="['started_at', 'finished_at', 'duration']"
                    small
                    hover
                    responsive
                ></b-table>
            </div>
        </div>
        <b-pagination
            v-model="actualPage"
            :total-rows="totalRows"
            :per-page="perPage"
            aria-controls="workLogTable"
            align="right"
            @change="paginationChangeHander"
        ></b-pagination>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                actualPage: this.currentPage
            }
        },
        computed: {
        },
        methods: {
            paginationChangeHander(page) {
                this.$emit('pageChanged', page);
            },
        },
        props: ['workLogs', 'isLoadingData', 'currentPage', 'perPage', 'totalRows'],
        mounted() {
        },
        components: {
        }
    }
</script>

<style>
</style>
