<template>
    <div id="workLogChart" class="mb-3">
        <column-chart :data="data" ytitle="Hours" :max="maxChartValue"></column-chart>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                chartData: []
            }
        },
        computed: {
            maxChartValue: function () {
                if (this.type === 'day') {
                    return 24;
                } else if (this.type === 'month') {
                    return 248;
                }
                return null;
            }
        },
        methods: {
        },
        watch: {
            data: function () {
            }
        },
        props: [
            'data', 'type'
        ],
        mounted() {
        },
        components: {
        }
    }
</script>

<style>
</style>
