<template>
    <div id="error-messages">
        <b-alert v-for="error in errorList" :key="error.field" show variant="danger">
            <strong>Error</strong> {{ error.message }}
        </b-alert>
    </div>
</template>

<script>
    export default {
        data() {
            return {
            }
        },
        computed: {
            errorList: function () {
                return Object.keys(this.errors).map((key) => ({
                    'field': key,
                    'message': this.errors[key][0]
                }));
            }
        },
        methods: {
        },
        props: ['errors'],
        created: function() {
        },
        mounted() {
        }
    }
</script>

<style>
</style>
