<template>
    <div class="list-group nav-list mb-3">
        <span class="text-muted">General</span>
        <router-link :to="{ name: 'dashboard_view' }"
           class="list-group-item list-group-item-action" :class="getLinkClass('dashboard_view')">
            <i class="fas fa-tachometer-alt"></i> Dashboard
        </router-link>
        <router-link :to="{ name: 'work_log_view' }"
                     class="list-group-item list-group-item-action" :class="getLinkClass('work_log_view')">
            <i class="fas fa-chart-line"></i> Work logs
        </router-link>
    </div>
</template>

<script>
    export default {
        data() {
            return {
            }
        },
        methods: {
            isCurrentRoute: function (route) {
                return this.$route.name.startsWith(route);
            },
            getLinkClass: function (route) {
                return {
                    'active': this.isCurrentRoute(route)
                }
            }
        },
        components: { },
        props: {
        },
        created: function() {
        },
        mounted() {
        }
    }
</script>

<style>
</style>
