<template>
    <div class="row" id="app" v-cloak>
        <div class="col-md-3">
            <SideMenu />
        </div>
        <div class="col-md-9">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    import SideMenu from './_layout/SideMenu';

    export default {
        components: {
            SideMenu
        },
        methods: {
            configureAxios() {
                axios.defaults.headers.Authorization = 'Bearer ' + this.user.api_token;
                axios.defaults.headers.common['Content-Type'] = 'application/json';
                axios.defaults.headers.common['Accept'] = 'application/json';
            }
        },
        created() {
            this.$store.commit('setUser', this.user);
            this.configureAxios();
        },
        props: ['user']
    }
</script>
