<template>
    <div id="dashboard">
        <ErrorMessages v-if="isError" :errors="errors" />

        <div class="row" v-if="!isComponentLoaded">
            <div class="col-md-12">
                <button class="btn btn-block">
                    <i class="fas fa-spinner fa-spin"></i>
                </button>
            </div>
        </div>
        <div class="row mb-3" v-if="isComponentLoaded">
            <div class="col-md-12">
                <button class="btn btn-success btn-block" @click="startWork" v-if="showStartButton">
                    <span v-if="!startButtonLoading">Start work</span>
                    <i v-else class="fas fa-spinner fa-spin"></i>
                </button>
            </div>
            <div class="col-md-12">
                <button class="btn btn-danger btn-block" @click="finishWork" v-if="showFinishButton">
                    <span v-if="!finishButtonLoading">Finish work</span>
                    <i v-else class="fas fa-spinner fa-spin"></i>
                </button>
            </div>
        </div>
        <WorkLogList :workLogs="workLogs"
                     :isLoadingData="isLoadingData"
                     :perPage="perPage"
                     :currentPage="currentPage"
                     :totalRows="totalRows"
                     @pageChanged="pageChangedHandler" />
    </div>
</template>

<script>
    import WorkLogList from '../work-logs/WorkLogList';
    import ErrorMessages from '../_layout/ErrorMessages';

    export default {
        data() {
            return {
                workLogs: [],
                errors: null,

                isWorking: null,
                workingOn: null,

                startButtonLoading: false,
                finishButtonLoading: false,
                isLoadingData: true,
                isComponentLoaded: false,

                currentPage: 1,
                perPage: 25,
                totalRows: 100
            }
        },
        computed: {
            isError: function () {
                return this.errors;
            },
            showStartButton: function () {
                return !this.isWorking;
            },
            showFinishButton: function () {
                return this.isWorking;
            },
        },
        methods: {
            pageChangedHandler(currentPage) {
                this.fetchData(currentPage);
            },
            async startWork() {
                this.startButtonLoading = true;

                try {
                    const data = await this.$store.dispatch('startWorkLog');
                    this.fetchData();

                } catch (error) {
                    console.log(error);
                } finally {
                    this.startButtonLoading = false;
                }
            },
            async finishWork() {
                this.finishButtonLoading = true;

                try {
                    const data = await this.$store.dispatch('finishWorkLog', {
                        'id': this.workingOn.id
                    });
                    this.errors = null;
                    this.fetchData();

                } catch (error) {
                    const status = error.response.status;

                    if (status === 422) {
                        this.errors = error.response.data.errors;
                    }
                } finally {
                    this.finishButtonLoading = false;
                }

            },
            async fetchData(page = 1) {
                this.isLoadingData = true;
                const started_at = moment.utc().format('DD-MM-YYYY');

                try {
                    const data = await this.$store.dispatch('getWorkLogs', {
                        'started_at': started_at,
                        'finished_at': started_at,
                        'started_scope': 'day',
                        'page': page
                    });
                    this.workLogs = data.data.map((workLog) => {
                        return {
                            'id': workLog.id,
                            'started_at': workLog.started_at,
                            'finished_at': workLog.finished_at,
                            'duration': workLog.duration !== null ? `${Math.floor(workLog.duration / 60)}h ${workLog.duration % 60}m` : null
                        }
                    });

                    this.currentPage = data.meta.current_page;
                    this.perPage = data.meta.per_page;
                    this.totalRows = data.meta.total;

                    const length = this.workLogs.length;
                    if (length > 0 && this.currentPage === 1) {
                        const lastWorkLog = this.workLogs[0];
                        this.isWorking = lastWorkLog.finished_at === null;
                        this.workingOn = lastWorkLog
                    }
                } catch (error) {
                    console.log(error);
                } finally {
                    this.isLoadingData = false;
                }
            }
        },
        props: {
        },
        async mounted() {
            await this.fetchData();
            this.isComponentLoaded = true;
        },
        components: {
            WorkLogList,
            ErrorMessages
        }
    }
</script>

<style>
</style>
