<template>
    <div id="workLog">
        <WorkLogFilterForm @formSubmitted="formSubmittedHandler" :isLoading="isLoadingData" />
        <WorkLogChart :data="chartData" :type="type" />
        <WorkLogList :workLogs="workLogs"
                     :isLoadingData="isLoadingData"
                     :perPage="perPage"
                     :currentPage="currentPage"
                     :totalRows="totalRows"
                     @pageChanged="pageChangedHandler" />

    </div>
</template>

<script>
    import WorkLogChart from '../work-logs/WorkLogChart';
    import WorkLogFilterForm from '../work-logs/WorkLogFilterForm';
    import WorkLogList from '../work-logs/WorkLogList';

    export default {
        data() {
            return {
                workLogs: [],
                chartData: [],

                started_at: null,
                finished_at: null,
                type: null,

                isLoadingData: true,
                isLoadingStats: true,

                currentPage: 1,
                perPage: 25,
                totalRows: 100
            }
        },
        computed: {
        },
        methods: {
            pageChangedHandler(currentPage) {
                this.currentPage = currentPage;
                this.fetchData();
            },
            formSubmittedHandler(data) {
                this.started_at = data.started_at;
                this.finished_at = data.finished_at;
                this.type = data.type;
                this.perPage = data.perPage;
                this.currentPage = 1;

                this.fetchData();
                this.fetchStats();
            },
            async fetchData(page = 1) {
                this.isLoadingData = true;

                try {
                    const data = await this.$store.dispatch('getWorkLogs', {
                        'started_at': this.started_at,
                        'finished_at': this.finished_at,
                        'page': this.currentPage,
                        'started_scope': this.type,
                        'per_page': this.perPage
                    });
                    this.workLogs = data.data.map((workLog) => {
                        return {
                            'id': workLog.id,
                            'started_at': workLog.started_at,
                            'finished_at': workLog.finished_at,
                            'duration': workLog.duration !== null ? `${Math.floor(workLog.duration / 60)}h ${workLog.duration % 60}m` : null,
                        }
                    });

                    this.currentPage = data.meta.current_page;
                    this.perPage = data.meta.per_page;
                    this.totalRows = data.meta.total;
                } catch (error) {
                    console.log(error);
                } finally {
                    this.isLoadingData = false;
                }
            },
            async fetchStats() {
                this.isLoadingStats = true;

                try {
                    const data = await this.$store.dispatch('getWorkLogsStats', {
                        'started_at': this.started_at,
                        'finished_at': this.finished_at,
                        'started_scope': this.type,
                    });

                    this.chartData = data.data.map((stat) => {
                        return [
                            stat.date, (stat.sum / 60).toFixed(2)
                        ]
                    });
                } catch (error) {
                    console.log(error);
                } finally {
                    this.isLoadingStats = false;
                }
            }
        },
        props: [],
        components: {
            WorkLogChart,
            WorkLogFilterForm,
            WorkLogList
        },
        mounted() {
            this.fetchData();
            this.fetchStats();
        },
    }
</script>

<style>
</style>
